.star-rating button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/*.star{*/
/*    font-size: 30px;*/
/*}*/

/*.onStar {*/
/*    color: orange;*/
/*}*/
/*.offStar {*/
/*    color: #000;*/
/*}*/