.user-change-password input[type='password']{
    padding: 4px 10px;
}

.user-change-password input:focus{
    border: 2px solid black;
    outline: none;
}

.invalidPass, .invalidPass:focus{
    border: 2px solid red!important;
}

.validPass, .validPass:focus{
    border: 2px solid green!important;
}

.user-change-password{
    margin-top: 40px;
    /*background-color: darkslategrey;*/
    /*color: white;*/
}